// custom css reset styling for consistency across browsers

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: $font-default;
	box-sizing: border-box;
  line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}