// custom default styling for q-btn component
.q-btn {
  &.disabled, &:disabled {
    opacity: 0.3 !important;
  }

  & .on-left {
    margin-right: 6px;
  }

  &.btn-no-wrap {
    text-wrap: nowrap;
    flex-wrap: nowrap;

    & .q-btn__content {
      text-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }
}